body{
  background-image: url('../images/apex-bg.jpg');
  background-position: top;
  font-family: 'Teko', sans-serif !important;
}

.text-xbox{
  color: #52b043;
}

.text-playstation{
  color:#003087;
}

.profile{
  z-index: 2;
  align-items: center;
  align-self: center;
  border-block-end-color: inherit;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
  margin-top: -50px;
  flex-shrink: 0;
}

.text-apex{
  color: #A4373D;
  outline-color: #E3DFD6;
} 

.btn-apex {
  color: #fff !important;
  background-color: #A4373D !important;
  border-color: #F97B2E !important;
}

.btn-apex:hover {
  color: #fff !important;
  background-color: #A4373D !important;
  border-color: #E3DFD6 !important;
}

.btn-apex:focus,
.btn-apex.focus {
  color: #fff !important;
  background-color: #A4373D !important;
  border-color: #E3DFD6 !important;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5) !important;
}

.card-apex{

}